body,
h1,
h2,
p,
.project-description {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

:root {
    --background: #282a36;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

.light-mode {
    --background: #282828;
    --foreground: #ebdbb2;
    --comment: #928374;
    --cyan: #83a598;
    --green: #b8bb26;
    --orange: #fe8019;
    --pink: #d3869b;
    --purple: #b16286;
    --red: #fb4934;
    --yellow: #fabd2f;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.custom-link {
    color: var(--pink);
}

.custom-link:hover {
    color: var(--orange);
}

.custom-class {
    font-size: medium;
    font-weight: bold;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    object-fit: cover;
    margin-bottom: 1em;
}

h1 {
    color: var(--purple);
}

.bio {
    color: var(--foreground);
}

.other-pages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
}

.page {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#footer {
    display: flex;
    justify-content: space-evenly;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--comment);
    border-radius: 4px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--comment) transparent;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-5px, 5px);
    }
    50% {
        transform: translate(5px, -5px);
    }
    75% {
        transform: translate(-5px, 5px);
    }
    100% {
        transform: translate(0);
    }
}

.glitch-effect {
    animation: glitch 0.5s infinite;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

@media (min-width: 200px) {
    .projects {
        display: grid;
        gap: 1em;
    }

    .load-more {
        font-size: 12px;
        background: none;
        border: 1px solid var(--purple);
        color: var(--purple);
        padding: 5px 10px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
    }
}

.project-card {
    text-align: center;
}

.project-image {
    display: block;
    margin: 0 auto;
}

.hidden-text-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: var(--purple);
    /* Add this line to set the text color */
}

.page:hover .hidden-text-container,
.page:active .hidden-text-container {
    opacity: 1;
}

.matrix-rain {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.character {
    /* color: #0F0; */
    color: var(--green);
    position: absolute;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    white-space: nowrap;
    opacity: 0;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) translateX(0);
        opacity: 0;
    }
}


/* Like this they do not have a smooth opacity effect */


/* @keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) translateX(0);
        opacity: 1;
    }
} */

.screen {
    box-shadow: 0 0 5vmin 0.5vmin #000 inset;
    box-sizing: border-box;
  }
  
  .bio:last-child:after {
    animation: blink 1s infinite;
    content: "_";
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .terminal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.terminal {
    background-color: var(--background);
    color: var(--foreground);
    border: 2px solid var(--comment);
    border-radius: 5px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.output {
    flex-grow: 1;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    color: var(--green);
}

.input-field {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    color: var(--foreground);
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

.input-field::placeholder {
    color: var(--comment);
}

@media (max-width: 600px) {
    .terminal {
        height: 250px;
    }
}

.output div.welcome-message {
    color: var(--purple);
}

.link {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer;
}

.link:hover {
    color: var(--cyan);
}

.error {
    color: var(--red);
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--comment);
    border-radius: 5px;
    width: 100%;
}

.specific-page #toggleColorButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: var(--comment);
    color: var(--background);
    border: none;
    cursor: default;
    display: block;
    opacity: 0;
    pointer-events: none;
}

.specific-page body,
.specific-page html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--background);
}

.specific-page #gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.specific-page canvas {
    display: block;
    background-color: var(--background);
}

.specific-page #startScreen,
.specific-page #loseScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    color: var(--foreground);
}

.specific-page #startScreen.active,
.specific-page #loseScreen.active {
    display: block;
}

.specific-page button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--purple);
    color: var(--foreground);
    border: none;
    cursor: pointer;
}

.specific-page button:hover {
    background-color: var(--cyan);
}

.specific-page #scoreBoard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: var(--foreground);
    display: none; /* Hide the scoreboard initially */
}

.specific-page #scoreBoard.active {
    display: block; /* Show the scoreboard when the game starts */
}

.specific-page #fpsCounter {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--foreground);
    display: none; /* Hide the FPS counter initially */
}

.specific-page #fpsCounter.active {
    display: block; /* Show the FPS counter when the game starts */
}

.specific-page #pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--foreground);
    display: none;
}

.specific-page #pauseMenu.active {
    display: block;
}
